#darkMode {
  background: transparent url("../../../images/moon.png") no-repeat center;
  background-size: 15px 15px;
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
  background-color: $dark-background-color;
  box-shadow: none;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: $dark-background-color;
  cursor: pointer;
}

#darkMode.clicked {
  background: transparent url("../../../images/sun.png") no-repeat center;
  background-size: 17px 17px;
  width: 25px;
  height: 25px;
  filter: none !important;
  background-color: $dark-background-color;
  border: 1px solid $colour-primary;
}
