$colour-primary: #d7b600;
$colour-secondary: #262626;
$colour-header: #002039;
$colour-heading: #ffffff;
$colour-error: #c53131;

$heading-font-family: "Notable", sans-serif;
$SubHeading-font-family: "Marcellus", serif;
$body-font-family: "Montserrat", sans-serif;

$tablet-width: 992px;

// MY TASK
@import "~bootstrap/scss/bootstrap";
@import "./partials/layout";
// @import "./partials/typography";
@import "./partials/nav";
@import "./partials/infoHeader";
@import "./partials/jumbotron";
@import "./partials/accommodation";
@import "./partials/pagination";
@import "./partials/ourGuarantees";
@import "./partials/thingsToDo";
@import "./partials/login";
@import "./partials/footer";
