.page {
  h1 {
    font-size: 40px !important;
  }
}

.accommodations--page {
  position: relative;

  & h2 {
    font-size: 27px;
  }

  & .search--div {
    background-color: $colour-secondary;
    padding: 8px;
    max-width: 100%;
    border-left: 6px solid $colour-primary;
    text-align: left;
    margin: 30px 0 20px;
  }

  & .form-group {
    margin-bottom: 0;
    position: relative;
  }

  & .fa-search {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    color: #495057;

    &:focus {
      color: $colour-heading;
    }
  }

  & .form-control.search {
    width: 100%;
    border-radius: 0;
    // background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    // border-left: 3px solid #d7b600;
    border: 1px solid $colour-secondary;
    padding-left: 30px;
    background-color: transparent;
  }

  & .form-control:focus {
    // color: #495057;
    // background-color: #fff;
    // border-color: #80bdff;
    // outline: 0;
    box-shadow: none;
    background-color: $colour-secondary;
    color: rgba(255, 255, 255, 0.7);
  }

  // & h2 {
  //   padding-top: 50px;
  // }

  & .row {
    margin-left: 15px;
    margin-right: 0px;
  }

  & .card {
    flex-direction: column;
    margin-right: 15px;

    & .type {
      padding: 7px 12px !important;
    }
  }

  & .col-12 {
    padding-left: 0;
    padding-right: 0;
  }

  & .col-md-7 {
    padding: 20px;
  }

  & .card-img,
  .card-img-top {
    height: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  & h5 {
    font-size: 20px;
  }

  & .title--detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    & h2 {
      font-size: 27px;
    }

    & .hotel--stars {
      padding-left: 0;
    }

    & i {
      font-size: 23px;
      margin-left: 0;
    }
  }

  & .card-title,
  .card-text {
    padding: 0;
  }

  & .description {
    font-size: 15px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    height: 38%;
  }

  & .accommodation--button {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
}

@media (min-width: $mobile-width) {
  .page {
    h1 {
      font-size: 50px !important;
    }
  }

  .accommodations--page {
    & h2 {
      font-size: 32px;
    }

    & .search--div {
      max-width: 420px;
    }
    & .card {
      flex-direction: row;
    }

    & .card-img,
    .card-img-top {
      // height: 330px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
      min-height: 400px;
      object-fit: cover;
    }

    & .title--detail {
      flex-direction: row;
      height: 40px;

      & i {
        margin-left: 5px;
      }
    }

    & .pages .accommodation--button button {
      width: 210px;
      margin-bottom: 0;
    }
  }
}

body.dark {
  .accommodations--page h2 {
    color: $colour-primary;
    font-size: 27px;
  }

  .accommodations--page .card .type {
    color: $colour-primary;
  }
}
