.info--header {
  background-color: $colour-primary;
  padding: 3px 0;

  & .container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  & .info__elem {
    margin-right: auto;
    color: $colour-secondary;
  }

  & span {
    font-size: 10px;
    font-weight: 600;
    margin-right: 14px;
  }

  & .nav--info {
    display: flex;
    // margin-right: 25px;
    font-size: 12px;
    align-items: center;

    & .favorites__link,
    .mode__link {
      display: flex;
      align-items: center;

      & span {
        width: 11px;
        height: 11px;
        text-align: center;
        margin-right: 0;
        background-color: $colour-error;
        font-size: 8px;
        border-radius: 50%;
        color: #e4e6e8;
        position: relative;
        top: -4px;
        left: 14px;
        z-index: 7;
      }

      & i,
      a {
        color: $colour-secondary;
        padding-left: 5px;
        font-size: 11px;
        &:hover {
          color: $colour-heading;
        }
      }
    }

    & .favorites__link i {
      margin-right: 5px;
      position: relative;
    }
  }
}

body.light .info--header {
  transition: background-color 0.5s ease-out;
}

body.dark .info--header {
  background-color: rgba(0, 0, 0, 0.89) !important;
  transition: background-color 0.5s ease-out;
  // display: none;

  & .info__elem {
    color: $colour-primary;
    transition: color 0.5s ease-out;
  }

  & .nav--info .favorites__link a,
  .nav--info .mode__link i,
  .nav--info .mode__link a {
    color: $colour-primary;
    transition: color 0.5s ease-out;

    &:hover {
      color: $colour-heading;
    }
  }

  & .nav--info .favorites__link i {
    color: $colour-primary;
    transition: color 0.5s ease-out;

    &:hover {
      color: $colour-heading;
    }
  }
}

@media (min-width: $tablet-width) {
  .info--header {
    display: block;

    & .container {
      padding-left: 25px;
      padding-right: 25px;
    }

    & span {
      font-size: 13px;
      margin-right: 25px;
    }

    & .nav--info {
      margin-right: 0;
      font-size: 14px;

      & .favorites__link span {
        font-size: 12px;
        width: 16px;
        height: 16px;
      }

      & .favorites__link a {
        font-size: 14px;
      }

      & .favorites__link i {
        font-size: 14px;
      }
    }
  }
}
