.home--container {
  position: relative;

  & .search--div {
    display: flex;
    margin: 25px 0 5px;
  }

  & .form-group {
    margin-bottom: 0;
    position: relative;
    background-color: $colour-secondary;
    padding: 4px;
    max-width: 100%;
    border-left: 6px solid $colour-primary;
    text-align: left;
  }

  & .fa-search {
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
    color: #495057;
    left: 10px;

    &:focus {
      color: $colour-heading;
    }
  }

  & .form-control.search {
    width: 100%;
    border-radius: 0;
    border: none;
    position: relative;
    border: 1px solid $colour-secondary;
    padding-left: 35px;
    background-color: transparent;
  }

  & .form-control:focus {
    box-shadow: none;
    background-color: $colour-secondary;
    color: rgba(255, 255, 255, 0.7);
  }

  & button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    text-transform: capitalize;

    &:focus {
      box-shadow: none;
    }
  }
}
