// Edit page on Admin

.edit--admin {
  padding: 70px 0;

  & .edit--page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;

    & .edit--line {
      padding-left: 0;
    }
  }

  & .form-label {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2px;
  }

  & .form-control {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    border-left: 3px solid #d7b600;
    color: rgba(255, 255, 255, 0.7);
  }

  & .btn-info {
    width: 49%;
    margin-right: 2%;

    & i {
      padding-right: 10px;
    }
  }

  & .btn-warning {
    width: 49%;
    background-color: $colour-error;
    color: $colour-heading;
    font-weight: 600;
    border-color: $colour-error;

    &:hover {
      background-color: rgba(197, 49, 49, 0.8);
    }

    & i {
      padding-right: 10px;
    }
  }
}

.form-control:focus {
  box-shadow: none;
}

div.form-error {
  color: $colour-error !important;
  font-weight: 600;
}
