.admin {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;

  .row {
    margin-right: -15px;
  }

  // & .col-sm-12,
  // .col-md-1,
  // .col-md-4,
  // .col-md-7 {
  //   padding-right: 0;
  //   padding-left: 0;
  // }

  & .nav {
    background-color: $colour-header;
    width: 100%;
    min-height: 100%;

    & a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 7px 18px;
      border-bottom: 1px solid $colour-primary;
    }
  }

  @media (min-width: 767px) {
    & .row {
      margin-right: 0;
    }

    // & .col-sm-12,
    // .col-md-1,
    // .col-md-4,
    // .col-md-7 {
    //   padding-right: 15px;
    //   padding-left: 15px;
    // }

    & .nav {
      width: 250px;
      min-height: 100vh;
    }
  }

  & .accommodations--admin {
    background-color: rgba(38, 38, 38, 0.8);
    color: $colour-heading;
    margin-top: 80px;
    border-radius: 5px;
    padding: 40px 30px 120px;

    & h1 {
      margin-bottom: 30px;
    }

    & .linkk {
      background-color: #272b30;
      text-align: center;
      padding: 30px 20px;
      margin-top: 30px;
      font-size: 14px;
      box-shadow: 0 0px 2px #c0c0c0;
      border-radius: 5px;
      font-family: $SubHeading-font-family;

      & a {
        text-transform: uppercase;
        color: $colour-heading;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
}

.nav-links.dashboard {
  position: absolute;
  left: 0;
  top: 82px;
  display: flex;
  flex-direction: column;
  background: $colour-header;
  width: 250px;
  color: $colour-heading;
  min-height: 100vh;
  z-index: 9999;

  & a {
    color: $colour-heading;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 18px;
    border-bottom: 1px solid $colour-primary;

    &:first-of-type {
      border-top: 1px solid $colour-primary;
    }
  }

  & a.active {
    background-color: #d7b600;
    //   padding: 6px 18px;
    color: #262626;
    font-weight: 700;
  }

  & i {
    margin-right: 20px;
  }

  & .fa-hotel {
    margin-right: 21px;
  }

  & .fa-plus-square,
  .fa-calendar-alt {
    margin-right: 26px;
  }

  & .fa-envelope-open {
    margin-right: 23px;
  }
}

// Hotels page on Admin

.hotels--admin {
  max-width: 900px;
  padding: 60px 0;

  & h1 {
    margin-bottom: 40px;
    color: $colour-heading;
    font-family: $SubHeading-font-family;
  }

  & .col-sm-12,
  .col-md-6,
  .col-lg-4 {
    display: grid;
  }

  & .card-body {
    display: flex;
    flex-direction: column;
  }

  & .card-title {
    flex: 1 0 auto;
  }

  & .accommodation--button {
    flex-shrink: 0;
  }

  & button {
    width: 100%;
  }
}

// Edit page on Admin

.edit--admin {
  padding: 70px 0;

  & .edit--page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;

    & .edit--line {
      padding-left: 0;
    }
  }

  & .form-label {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2px;
  }

  & .form-control {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    border-left: 3px solid #d7b600;
    color: rgba(255, 255, 255, 0.7);
  }

  & .btn-info {
    width: 49%;
    margin-right: 2%;

    & i {
      padding-right: 10px;
    }
  }

  & .btn-warning {
    width: 49%;
    background-color: $colour-error;
    color: $colour-heading;
    font-weight: 600;
    border-color: $colour-error;

    &:hover {
      background-color: rgba(197, 49, 49, 0.8);
    }

    & i {
      padding-right: 10px;
    }
  }
}

div.form-error {
  color: $colour-error !important;
  font-weight: 600;
}

// Add page on Admin

.add--admin {
  padding: 70px 0;

  & .add--page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;

    & .add--line {
      padding-left: 0;
    }
  }

  & .form-label {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2px;
  }

  & .form-control {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    position: relative;
    border-left: 3px solid #d7b600;
    color: rgba(255, 255, 255, 0.7);
  }

  & .btn-info {
    width: 49%;
    margin-right: 2%;

    & i {
      padding-right: 10px;
    }
  }

  & .btn-warning {
    width: 49%;
    background-color: $colour-error;
    color: $colour-heading;
    font-weight: 600;
    border-color: $colour-error;

    &:hover {
      background-color: rgba(197, 49, 49, 0.8);
    }

    & i {
      padding-right: 10px;
    }
  }
}

// Messages page on Admin

.messages--admin {
  padding: 70px 0;

  & .messages--page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;
  }

  & .messages--table {
    width: 100%;
    background-color: #c3c3c3;
    margin-bottom: 10px;
    padding: 10px 0;

    & .hotels--admin .col-sm-12,
    .hotels--admin .col-md-7,
    .hotels--admin .col-lg-3,
    .hotels--admin .col-lg-2 {
      display: grid;
      align-items: center;
    }

    & h5,
    p {
      margin-bottom: 0;
    }
  }

  & .message--link {
    display: flex;
    color: $colour-secondary;
  }

  & .empty--message {
    color: $colour-heading;
  }
}

// Enquiries page on Admin

.enquiries--admin {
  padding: 70px 0;

  & .enquiries--page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;
  }

  & .enquirie--table {
    width: 100%;
    background-color: #c3c3c3;
    margin-bottom: 10px;
    padding: 10px 0;

    & .hotels--admin .col-sm-12,
    .hotels--admin .col-md-7,
    .hotels--admin .col-lg-3,
    .hotels--admin .col-lg-2 {
      display: grid;
      align-items: center;
    }

    & h5,
    p {
      margin-bottom: 0;
    }
  }

  & .enquirie--link {
    display: flex;
    color: $colour-secondary;
  }

  & .empty--enquiries {
    color: $colour-heading;
  }
}

// View Messages page

.view--message {
  padding: 70px 0;

  & .view--message__page {
    background-color: rgba(38, 38, 38, 0.7);
    padding: 50px;
    border-radius: 5px;
  }
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-image: none !important;
  color: -internal-light-dark(white) !important;
}

// Delete alert button

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
  font-family: $SubHeading-font-family;
  text-align: center;
  font-size: 25px;
}

.react-confirm-alert-button-group > button:first-of-type {
  background-color: darkgreen !important;
}

.react-confirm-alert-button-group > button:last-of-type {
  background-color: $colour-error !important;
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: hsla(0, 0%, 100%, 0.9);
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  display: flex;
  align-items: center;
  flex-flow: column;
  border: 1px solid $colour-secondary;
  box-shadow: 0 2px 7px $colour-secondary;
}
