.admin {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;

  .row {
    margin-right: -15px;
  }

  // & .col-sm-12,
  // .col-md-1,
  // .col-md-4,
  // .col-md-7 {
  //   padding-right: 0;
  //   padding-left: 0;
  // }

  & .nav {
    background-color: $colour-header;
    width: 100%;
    min-height: 100%;

    & a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      padding: 7px 18px;
      border-bottom: 1px solid $colour-primary;
    }
  }

  @media (min-width: 767px) {
    & .row {
      margin-right: 0;
    }

    // & .col-sm-12,
    // .col-md-1,
    // .col-md-4,
    // .col-md-7 {
    //   padding-right: 15px;
    //   padding-left: 15px;
    // }

    & .nav {
      width: 250px;
      min-height: 100vh;
    }
  }

  & .accommodations--admin {
    background-color: rgba(38, 38, 38, 0.8);
    color: $colour-heading;
    margin-top: 80px;
    border-radius: 5px;
    padding: 40px 30px 120px;

    & h1 {
      margin-bottom: 30px;
    }

    & .linkk {
      background-color: #272b30;
      text-align: center;
      padding: 30px 20px;
      margin-top: 30px;
      font-size: 14px;
      box-shadow: 0 0px 2px #c0c0c0;
      border-radius: 5px;
      font-family: $SubHeading-font-family;

      & a {
        text-transform: uppercase;
        color: $colour-heading;
        font-weight: 500;
        letter-spacing: 1.2px;
      }
    }
  }
}

.nav-links.dashboard {
  position: absolute;
  left: 0;
  top: 82px;
  display: flex;
  flex-direction: column;
  background: $colour-header;
  width: 250px;
  color: $colour-heading;
  min-height: 100vh;
  z-index: 9999;

  & a {
    color: $colour-heading;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 18px;
    border-bottom: 1px solid $colour-primary;

    &:first-of-type {
      border-top: 1px solid $colour-primary;
    }
  }

  & a.active {
    background-color: #d7b600;
    //   padding: 6px 18px;
    color: #262626;
    font-weight: 700;
  }

  & i {
    margin-right: 20px;
  }

  & .fa-hotel {
    margin-right: 21px;
  }

  & .fa-plus-square,
  .fa-calendar-alt {
    margin-right: 26px;
  }

  & .fa-envelope-open {
    margin-right: 23px;
  }
}

// Hotels page on Admin

.hotels--admin {
  max-width: 900px;
  padding: 60px 0;

  & h1 {
    margin-bottom: 40px;
    color: $colour-heading;
    font-family: $SubHeading-font-family;
  }

  & .col-sm-12,
  .col-md-6,
  .col-lg-4 {
    display: grid;
  }

  & .card-body {
    display: flex;
    flex-direction: column;
  }

  & .card-title {
    flex: 1 0 auto;
  }

  & .accommodation--button {
    flex-shrink: 0;
  }

  & button {
    width: 100%;
  }
}
