.jumbotron {
  padding: 0 !important;
  position: relative;
  background-size: cover;
  background-position: bottom;
  height: 360px;
}

.shadow--banner {
  background-color: #262626;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
}

.shadow--text {
  // width: 100%;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);

  & h1 {
    color: $colour-heading;
    font-size: 26px;
    max-width: 100%;
  }

  & p {
    color: $colour-heading;
    width: auto;
    margin: 30px 0;
    font-weight: 600;
    font-size: 14px;
    padding-right: 40px;
  }

  & button {
    border-radius: 0;
  }
}

@media (min-width: $tablet-width) {
  .jumbotron {
    height: 550px;
  }

  .shadow--banner {
    width: 50%;
  }

  .shadow--text {
    width: 34%;
  }

  .shadow--text h1 {
    font-size: 35px;
  }

  .shadow--text p {
    font-size: 17px;
    margin: 40px 0;
    width: 350px;
    padding-right: 0;
  }
}
// Jumbotron Accommodations page

.accommodations--banner {
  & h1 {
    font-size: 50px;
    margin: 10px 0 25px;
  }

  h2 {
    font-family: $body-font-family;
    color: $colour-heading;
    line-height: 1;
    font-size: 21px;
    max-width: 320px;
  }

  p {
    font-family: $body-font-family;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    color: $colour-primary;
  }
}

body.light {
  .shadow--text h1 {
    transition: h1 0.5s ease-out;
  }
}

body.dark {
  .shadow--text h1 {
    color: $colour-primary;
  }

  .shadow--text p {
    font-weight: 100;
  }
}
