.login {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 0;

  & .container {
    padding-right: 0;
    padding-left: 0;
  }

  & .login__bg {
    background-color: rgba(38, 38, 38, 0.8);
    border-radius: 5px;
    width: 100%;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  & .login__bg--left {
    background-color: $colour-primary;
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    padding: 70px 50px;

    & h1 {
      font-size: 32px;
      margin-bottom: 30px;
    }

    & h2 {
      font-size: 21px;
    }
  }

  & .login__bg--right {
    padding: 70px 30px;
    min-height: 100vh;

    & .login__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    & .logo {
      width: 100px;
    }

    & .form-control {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      position: relative;
      border-left: 3px solid $colour-primary;
      color: rgba(255, 255, 255, 0.5);

      &:focus,
      :visited,
      :active,
      :focus-within,
      :target {
        color: rgba(255, 255, 255, 0.5);
        box-shadow: none;
      }
    }

    & .btn-info {
      padding: 6px;
      width: 100%;
      border-radius: 0;

      &:hover,
      &:focus {
        color: $colour-secondary;
        border-color: $colour-secondary;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .login {
    padding-top: 100px;

    & .container {
      padding-right: 25px;
      padding-left: 25px;
    }

    & .login__bg {
      width: 900px;
    }

    .row {
      margin-left: -15px;
      margin-right: -15px;
    }

    & .login__bg--left {
      margin-left: -10px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    .login__bg--right {
      padding: 70px 50px;
      min-height: auto;

      & .btn-info {
        padding: 4px 27px;
        width: auto;
      }
    }
  }
}
