.header {
  position: relative;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.bg-dark {
  background-color: $colour-header !important;
}

.logo {
  width: 80px;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  &:hover {
    color: $colour-primary;
  }

  &.nav--logo {
    padding-left: 0;
  }

  &.active {
    background-color: $colour-primary;
    padding: 6px 18px;
    border-radius: 5px;
    color: $colour-secondary;
    font-weight: 700;
    width: max-content;

    &:hover {
      color: $colour-heading;
    }
  }
}

.navbar .container {
  display: contents;
}

.navbar-collapse {
  padding-bottom: 20px;
}

.nav--menu {
  margin-left: auto;
  display: block;

  & .container {
    padding-left: 0;
  }
}

@media (min-width: $tablet-width) {
  .navbar .container {
    display: flex;
  }

  .navbar-collapse {
    padding-bottom: 0;
  }
  .nav--menu {
    display: block;

    & .container {
      padding-left: 25px;
    }
  }
}

//
