.things--to--do {
  position: relative;
  margin-bottom: 50px;

  & .col-lg-3 {
    display: flex;
  }

  & .things--to--do__subheading {
    position: relative;
    text-align: center;
    margin: 30px 0 110px;

    &::after {
      position: absolute;
      content: "";
      width: 150px;
      height: 2px;
      top: 81px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $colour-primary;
    }
  }

  & .card-img,
  .card-img-top {
    height: 170px !important;
  }

  & .card-title {
    font-size: 16px;
    font-weight: 600;
  }

  & .card-body {
    padding: 15px !important;
    display: flex;
    flex-direction: column;
  }

  & .card-text {
    flex: 1;
    font-size: 14px;
  }

  & .card-link {
    font-style: italic;
    font-weight: 500;
  }

  & .card-link:hover {
    text-decoration: underline;
  }
}

body.dark {
  .things--to--do .card-title {
    font-size: 16px;
  }

  .things--to--do .card-text {
    font-size: 13px;
  }

  .things--to--do .card-link {
    color: $colour-primary;
  }

  .things--to--do .card-link:hover {
    text-decoration: underline;
  }
}
